@import '../../../styles/settings.scss';

.blog {
  background-color: $color-creamy;
  padding: 40px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: column;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        width: 100%;
      }

      .logo {
        max-width: 200px;
        margin-right: 20px;
      }

      .blocks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: 768px) {
          flex-direction: row;
          margin-left: 200px;
        }

        .block {
          margin: 10px 0;
          flex: 1;
          max-width: 200px;

          @media (min-width: 768px) {
            margin: 0 70px;
          }

          .blockTitle {
            font-weight: $font-bold;
            margin-bottom: 10px;
            text-align: left;
            font-size: 2rem;
            color: #4b4b4b;
          }

          ul {
            list-style: none;
            padding: 0;

            li {
              margin-bottom: 5px;

              button {
                background: none;
                border: none;
                color: $color-dark;
                text-align: left;
                padding: 5px 0;
                cursor: pointer;
                font-size: 1rem;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    .footerBottom {
      margin-top: 20px;
      width: 100%;
      border-top: 1px solid #dee2e6;
      padding-top: 10px;
      text-align: center;

      p {
        margin: 0;
        color: #6c757d;
      }
    }
  }
}
