@import '../../../styles/settings.scss';

.tourCard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: $color-orange;
  text-align: center;
  padding: 20px;
  border-radius: 40px;
}

.name {
  font-size: 2.5rem;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.location {
  font-size: 1.8rem;
  margin-top: 8px;
  font-weight: $font-semiBold;
  text-transform: uppercase;
}

.dat {
  font-size: 1.5rem;
  margin-top: 8px;
  font-weight: $font-medium;
}

.cardImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 40px;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: $font-regular;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: rgba(255, 165, 0, 0);
  color: $color-creamy;
  border: 2px solid $color-creamy;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &:hover {
    background-color: $color-creamy;
    color: $color-orange;
  }
}
