$color-light: #fff;
$color-dark: #000000;
$color-creamy: rgb(248,245,228);
$color-orange: rgb(249,115,0);

$font-text: "Cormorant Garamond", serif;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;

$base-size: 12px;